*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
}

.toggle-button-container{
  display: flex;
  justify-content: end;
  padding: 2.4rem 2rem 0 ;
  padding-right: 10%;
  gap: 0.8rem;
}

.delete-all-domain-button , .delete-all-url-button , .saved-all-url-button , .toggle-button{
  background-color: #121B19;
  color:white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 6px 14px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: block;
}

.is-hidden{
  display: none;
}

.delete-all-domain-button , .delete-all-url-button {
   background-color: #d73131;
}

.saved-all-url-button{
    background-color: #4b8f4b;
}

.message {
  color: #d32f2f;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  max-width: 1240px;
  margin: 0 8%;
}

.message.show {
  margin-top: 1rem;
  opacity: 1;
}

.saved-urls{
  max-width: 1240px;
  margin: 0 8%;
  margin-top: 1.6rem;
}

.saved-domains{
  max-width: 1080px;
  margin: 0 8%;
  margin-top: 2rem;
}

.domain-item{
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

.button{
  background-color: #121B19;
  color:white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 6px 14px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 0.8rem;
}

.text{
  font-size: 1.1rem;
  font-weight: bold;
  color:rgb(45, 45, 45);
  transition: color 0.3s ease;
}

.text:hover{
  color:rgb(84, 83, 83);
  text-shadow: 0 0 2px #cfcdcd;
}

.list-item{
  margin: 1rem auto;
  display: flex;
  align-items: center;
}
