*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  width: 360px;
}

.container{
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  max-width: fit-content;
  margin: 0px auto;
  padding: 20px 0;
}

.button{
  border: none;
  padding: 0.8rem 1.8rem;
  background-color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.container button:first-child{
  border-radius: 16px 0 0 16px;
}
.container button:last-child{
  border-radius: 0 16px 16px 0;
}

.button:hover{
  background-color: rgb(246, 246, 246);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
